@font-face {
    font-family: 'ProximaNova';
    src: url(../../../fonts/ProximaNova.ttf);
  }
  
.main_page{
    margin: 0;
    width: 100%;
    padding-bottom: 50px;
}
.main_page__heroes{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0;
    font-size: 5rem;
    color: white;
}
h3 {
    font-family: ProximaNova;
    margin: 0;
    font-size: 3rem;
    color: white;
}
.main_page__text p {
    font-family: ProximaNova;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    margin: 40px 0;
}
.main_page__text{
    width: 800px;
    height: 800px;
    margin-left: 100px;
}
.main-page__button-quiz{
    width: 40%;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    padding: 25px ;
    color: white;
    background-color: #eaa011;
    cursor: pointer;
    transition: all 0.4s;
}
.main-page__button-quiz:hover{
    transform: translatey(-8px);
    transition: all 0.4s;
}
.main_page__apparat{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin-right: 100px;
}
.apparat-hero{
    height: 140px;
    display: flex;
    overflow: hidden;
    align-items:center;
    background-color:white;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
}
.apparat-hero a, .apparat-hero-title {
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.4s;
}
.apparat-hero a:hover, .apparat-hero-title:hover {
    color: #eaa011;
    transition: all 0.4s;
}
.apparat-hero img{
    width: 200px;
    /* height: 200px; */
    margin-right: 40px;
}
.links__title h2{
    margin: 25px;
    font-family: ProximaNova;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}
.links__title{
    background-color:rgba(0, 0, 0, 0.7);
    margin: 0 20px;
    padding: 20px;
}

.photo__gallery{
    padding-bottom: 100px;
    width: 100%;
}
.photo__gallery h3 {
    margin-bottom: 40px;
    margin-left: 100px;
}

@media screen and (max-width:1440px),only screen and (max-device-width:1440px) {
    .main_page__apparat{
        display: none;
    }
    .main_page__text{
        width: 65%;
    }
  }

  @media screen and (max-width:768px),only screen and (max-device-width:768px) {

    .main_page__text{
        width: 100%;
        margin: 0 50px;
    }
    .main_page__heroes{
        padding-top: 30px;
    }
    /* .links__title {
        width: 100%;
    } */
  }
  @media screen and (max-width:425px),only screen and (max-device-width:425px) {
    .main_page__text{
        margin: 0 10px;
    }
    .main-page__button-quiz{
        padding: 18px 40px;
        width: auto;
    }
    h1{
        font-size: 4rem;
    }
    .links__title h2{
        font-size: 2rem;
    }
    .photo__gallery h3 {
        margin-left: 0;
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        margin-bottom: 0;
    }
  }