@font-face {
  font-family: BabesNeueRegular;
  src: url(fonts/BebasNeue/BebasNeueRegular.ttf);
}
@font-face {
  font-family: BabesNeueBold;
  src: url(fonts/BebasNeue/BebasNeueBold.ttf);
}

body {
  font-family: BabesNeueRegular;
  margin: 0;
  box-sizing: border-box;
}

